authentik_url                = "https://auth.trashstack.dev"
authentik_token              = "<authentik-api-token>"
nextcloud_oidc_client_id     = "<nextcloud-oidc-client-id>"
nextcloud_oidc_client_secret = "<nextcloud-oidc-client-secret>"
sure_oidc_client_id          = "<sure-oidc-client-id>"
sure_oidc_client_secret      = "<sure-oidc-client-secret>"
grafana_oidc_client_id       = "<grafana-oidc-client-id>"
grafana_oidc_client_secret   = "<grafana-oidc-client-secret>"
