authentik_url                = "https://auth.trashstack.dev"
authentik_token              = "<authentik-api-token>"
nextcloud_oidc_client_id     = "<nextcloud-oidc-client-id>"
nextcloud_oidc_client_secret = "<nextcloud-oidc-client-secret>"
